<template>
    <ValidationObserver v-slot="{ handleSubmit, errors, failed }">
        <ValidationProvider rules="email" v-slot="{ errors }">
            <v-text-field v-model="email"
                          label="email"
                          :error-messages="errors[0]"/>
        </ValidationProvider>
        <ValidationProvider rules="required|max:4" v-slot="{ errors }">
            <v-text-field v-model="name"
                          label="name"
                          :error-messages="errors[0]"/>
        </ValidationProvider>

        <v-alert v-if="failed">
            Error
        </v-alert>

        <div>
            <button @click="handleSubmit(submit)">Submit</button>
        </div>
    </ValidationObserver>
</template>

<script lang="ts">
    import {ValidationObserver, ValidationProvider} from 'vee-validate';
    import {Component, Vue} from 'vue-property-decorator';

    @Component({
        components: {
            ValidationObserver,
            ValidationProvider,
        }
    })
    export default class Form extends Vue {
        private email = '';
        private name = '';

        public submit() {
            this.$emit('submit', {
                email: this.email,
                name: this.name,
            });
        }
    }
</script>
