<template>
    <div id="app">
        <SampleForm @submit="onSubmit"/>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import {Component} from 'vue-property-decorator';
    import SampleForm from '@/components/SampleForm.vue';
    import {User} from '@/User';

    @Component({
        components: {SampleForm}
    })
    export default class App extends Vue {

        public onSubmit({name, email}: User) {
            console.log(`name: ${name}`);
            console.log(`email: ${email}`);
        }
    }
</script>

<style lang="scss">
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }

    #nav {
        padding: 30px;

        a {
            font-weight: bold;
            color: #2c3e50;

            &.router-link-exact-active {
                color: #42b983;
            }
        }
    }
</style>
